.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:minmax(100px,auto) 200px 50px 100px;
    grid-row-gap: 10px;
    grid-gap:15px 5px ;
}

.item {
    color: wheat;
    font-size: 25px;
    padding: 10px;
    background:aqua;
    border: 2px solid black;
}    

.item:first-child {
     grid-area: first;
}

.item:first-child {
    
    background: blue;
}